body{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    text-align: justify;
}
#topHeader{
    background: white;
    padding: 3px;
    color: black;
}

#topHeader > ul{
    display: flex;
    justify-content: end;
}

#topHeader > a{
    text-decoration: none;
}

header > nav > ul > li{
    list-style: none;
}

header > nav{
    background: #FF940B;
    width: 100%;
}
header > nav > ul{
    display: flex;
    flex-direction:row;
}

header > nav > ul > li{
    padding: 20px;
    font-size: 20px;
    color: white;
}

header > nav > ul > li > a{
    color: white;
    text-decoration: none;
    border-bottom: 0px solid white;
}

    header >ul > li > a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}
.sticky{
    position: fixed;
    top: 0;
}

#calender > table{
    border-collapse: collapse;
}

#calender > tr ,td{
    border: 1px solid black;
}

#calender > table.days{
    background-color: lightyellow;
}

#calender > table.weekend{
    background-color: lightblue;
}

#uparrow{
    position: fixed;
    right: 2%;
    top: 90%;
    display: none;
}
